<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="<%= @user.picture%>" width="200" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-content">
            <p><strong>name:</strong> <%= @user.name %> </p>
            <p><strong>age:</strong> <%= @user.age %> </p>
            <p><strong>email:</strong> <%= @user.email %> </p>
          </div>
        </div>
      </div>
    </div>
            
  </div>

<div class="row">
<% if @user.friends%>
<h5>Friends (<%= @user.friends.size %>)</h5>
  <% @user.friends.each do |user|%>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="<%= user.picture%>" width="200" />
          <span class="card-title"><%= user.name %></span>
        </div>
        <div class="card-content">
          <p><strong>name:</strong> <%= user.name%></p>
          <p><strong>age:</strong> <%= user.age%></p>
          <p><strong>eye_color:</strong> <%= user.eye_color%></p>
          <p><strong>company:</strong> <%= user.company%></p>
          <p><strong>email:</strong> <%= user.email%></p>
        </div>
        <div class="card-action">
          <%= link_to('View profile', user)%>
        </div>
      </div>
    </div>
  <% end%>
<% end %>
</div>